# Application
APP_NAME=
APP_TIMEZONE=
APP_URL=
APP_LOCALE=
APP_FALLBACK_LOCALE=

# Frontend (Vite))
VITE_APP_URL=
VITE_API_URL=

# Database
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Default User
DEFAULT_USER_NAME=
DEFAULT_USER_EMAIL=
DEFAULT_USER_PASSWORD=

# Default Admin
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

# Tests
E2E_BASE_URL=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=